/* Write your CSS here! */

/* Classes */
.flex-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;

}

.thumbnail {
    top: -50px;
    left: -35px;
    display: block;
    z-index: 999;
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.2);
    /* flex-grow: 2; */
}

.funParagraph {
    color: green;
}

.photo-description {
    text-align: center
}

/* Elements */
body {
    margin: 8px;
    display: block;
}

article {
    margin: auto;
}

/* IDs */
#mainHeading {
    color: red;
}