/* Write your CSS here! */

/* Classes */
.funParagraph {
    color: green;
}

.image-grid {
    margin: auto;
    --gap: 16px;
    --num-cols: 2;
    --row-height: 300px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }

/* Elements */
body {
    margin: 8px;
    display: block;
}

article {
    margin: auto;
}

/* IDs */
#mainHeading {
    color: red;
}